@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;

}

.font-playfair{
  font-family: Playfair !important;
}

html, body, #root  {
  margin: 0;
  padding: 0;
   
  /* background-color: #f8fafc; */
  height: 100%;
  
}